.demo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: black;
    margin-left: 40px;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
}

.demo2 {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #FD979F;
    margin-left: 150px;
    margin-top: 150px;
    position: absolute;
    z-index: 2;
}

.big {
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 50%;
}

.iframe_close {
    width: 30px;
    height: 30px;
    position: fixed;
    margin-top: 500px;
    margin-left: 500px;
}

.demo3 {
    height: 30px;
}

.text_line {
    width: 431px;
    height: 73px;
}

.rect {
    width: 650px;
    height: 150px;
    margin-top: 200px
}

.circle {
    width: 500px;
    height: 500px;
}

.smooth {
    width: 480px;
    height: 480px;
}