.ul1 {
    position: relative;
    margin: 0 auto;
    width: 366px;
}
.ul1 li {
    list-style: none;
    float: left;
    margin: 10px;
    border: 1px solid black;
    background-color: grey;
    width: 100px;
    height: 100px;
    /* margin-top: 0;
    margin-left: 0; */
}