.demo {
    margin-top: 50ox;
    margin-left: 0;
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.sta {
    margin-left: 1000px;
    position: absolute;
    margin-top: 0;
    height: 200px;
    border: 1px solid red;
}